*
  margin 0
  padding 0
  font-family font-default

html
  font-size medium

body
  color color-font
  font-size 1.4rem
  text-shadow 1px 1px 1px rgba(0,0,0,0.5)
  @media screen and (max-width: 1260px)
    margin 0 30px
  @media screen and (max-width: 600px)
    font-size 13px


h1, h2, h3, h4, h5, h6
  font-family font-title

h1
  font-size 2em

h2
  font-size 1.5em

h3
  font-size 1.3em

a
  text-decoration none
  color color-link
  &:hover
    text-decoration underline

.alignleft
  float left

.alignright
  float right

.clearfix
  clearfix()

.inner
  width 75%
  max-width 1600px
  margin 0 auto
  display flex
  flex-direction row
  @media screen and (max-width: 1260px)
    width 100%

#main-col
  flex-basis 75%
  order 0

#wrapper
    
#bg
  background-image img-background
  background-color color-background
  background-attachment fixed
  background-repeat no-repeat
  background-position center
  background-size cover
  height 100%
  left 0
  position fixed
  top 0
  width 100%
  z-index -1