<p class="txs--p">
  &copy;
  <%= new Date().getFullYear() %>
    <a rel="me" href="https://mastodon.gamedev.place/@taxes"><%= config.author %></a>
    All rights reserved.
    <br>Taxes avatar &copy; <a href="https://twitter.com/charmrage">Charmrage</a>
    <br>Powered by
    <a href="https://hexo.io/" target="_blank">Hexo</a>
</p>