<p class="txs--p">
  &copy;
  <%= new Date().getFullYear() %>
    <a href="http://havisullivan.com"><%= config.author %></a>
    All rights reserved.
    <br>Taxes avatar &copy; Rapps
    <br>Powered by
    <a href="http://hexo.io/" target="_blank">Hexo</a>
</p>